.preview-list-item {
    display: flex;
    flex-direction: column;
    padding: 5px 23px;

    .item-heading {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .item-date {
        color: rgb(124, 124, 124);
        font-weight: 500;
        display: inline-block;
    }

    .item-desc {
        white-space: pre-line;
        font-size: 1.1rem;
        padding-block: 5px;
        width: 100%;
        text-align: justify;
    }
}