@import '../styles/Variables.scss';

.personal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'name lastName'
    'email phone';
    div:nth-child(1) {
        grid-area: name;
    }
    div:nth-child(2) {
        grid-area: lastName;
    }
    div:nth-child(3) {
        grid-area: email;
    }

    overflow: hidden;
    transition: height .4s ease-in-out;
}