@import '../styles/Variables.scss';

.preview-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: grey;
    position: relative;

    .download {
        position: absolute;
        z-index: 5;
        background-color: $accent;
        color: white;
        padding: .5em 1em;
        border-radius: 5px;
        border: none;
        top: 20px;
        transform: translateX(235px);
        cursor: pointer;
        &:hover {
            filter: brightness(.9);
        }
    }

    .paper {
        display: grid;
        grid-template-areas: 
        'side main';

        grid-template-columns: 35% 65%;

        width: 580px;
        height: 822px;
        background-color: white;

        .side-panel {
            grid-area: side;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #5c2a3a;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            padding: 5em 2em;
            .aside-section-heading {
                font-size: 1.7rem;
                font-weight: 500;
            }
            .personal-info {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .skills-info {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .main-content {
            grid-area: main;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            
            .name {
                font-size: 3rem;
                padding: 30px 20px;
            }
            .main-section-heading {
                background-color: #5c2a3a;
                color: white;
                font-size: 1.4rem;
                font-weight: 500;
                padding: .2em 23px;
            }
        }
    }
}